{
    "plugins": ["prettier-plugin-tailwindcss"],
    "tabWidth": 4,
    "useTabs": false,
    "singleQuote": false,
    "trailingComma": "all",
    "semi": true,
    "bracketSpacing": true,
    "printWidth": 120
}
